{% extends "base.html.twig" %}

{% block title %}
    About
{% endblock %}

{% block body %}
    <div class="container">
        <h1>About</h1>
        <span>Website about books</span>
    </div>
{% endblock %}