{% extends "base.html.twig" %}

{% block title %}
    Create new book
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new book</h1>
        {{ form(form) }}
        <a class="btn btn-success form-control"href="{{ path('home') }}" >Back</a>
    </div>
{% endblock %}